li h4{
    text-align: center;
    text-decoration: underline
  
}

li{
    list-style-type: none;
    text-align: center;
}

#kajnudimonaslov{
    font-size: 50px;
    color: cadetblue;
    text-align: center;
}

.kajnudimoponudba{
   
    color: cadetblue;
    font-size: 25px;
    text-align: center;
}

.glyphicon{
    color: cadetblue;
    object-position: center;
    border-right: 0px;
    border-left: 50px;    
}

.tekst-navadni{
    text-align: center;
}